.fot1 {
    display: flex;
    flex-direction: column;
    background-color: #222222;
    color: white;
  }
  .fot2 {
    text-align: center;
  }
  .fot3 {
    background-color: #2d2d2d;
    text-align: center;
  }